# Ignore node_modules directory
node_modules/

# Ignore any log files
*.log

# Ignore the .env file (contains environment variables, secrets, etc.)
.env

# Ignore compiled code and build artifacts
/dist/
/build/
/out/
/.nyc_output/
/.webpack/

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore operating system files
.DS_Store
Thumbs.db
